<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Aidby app test Automation Suite">
  <test  name="Free Aidby App Test Cases">
    <classes>
      <class name="com.dev.addby.testcases.LoginPagetest"/>
      <class name="com.dev.addby.testcases.ServiceOfferedHomePageTest"/>
      <class name="com.dev.addby.testcases.ServiceListingTest"/>
      <class name="com.dev.addby.testcases.UserProfilePageTest"/>
      <class name="com.dev.addby.testcases.UserBookingPageTest"/>
    </classes>
  </test> 
</suite> 
